fastapi
uvicorn[standard]
websockets
opencv-python
ultralytics
numpy<2.0.0
requests
flask
flask-cors
psutil
pydantic
python-multipart
openpyxl
xlsxwriter
openvino==2024.4.0
paddleocr<=2.7.0
paddlepaddle==2.6.2
waitress
PyQt5==5.15.10
websocket-client==1.7.0
